/**
*
*	Name:			IRANYekan Font
*	Version:			3.3
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Sep 17, 2020
*	Updated on:		Sep 17, 2020
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('/assets/fonts/eot/iranyekanwebboldfanum.eot');
	src: url('/assets/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanwebboldfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('/assets/fonts/eot/iranyekanwebthinfanum.eot');
	src: url('/assets/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanwebthinfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('/assets/fonts/eot/iranyekanweblightfanum.eot');
	src: url('/assets/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanweblightfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/eot/iranyekanwebregularfanum.eot');
	src: url('/assets/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanwebregularfanum.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/eot/iranyekanwebmediumfanum.eot');
	src: url('/assets/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanwebmediumfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('/assets/fonts/eot/iranyekanwebextraboldfanum.eot');
	src: url('/assets/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanwebextraboldfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('/assets/fonts/eot/iranyekanwebblackfanum.eot');
	src: url('/assets/fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanwebblackfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('/assets/fonts/eot/iranyekanwebextrablackfanum.eot');
	src: url('/assets/fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3fanum.6+, IE9, Chrome6+, Saf5fanum.1+*/
		 url('/assets/fonts/woff2/iranyekanwebextrablackfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/woff/IRANSansX-bold.woff') format('woff'),   
	url('/assets/fonts/woff2/IRANSansX-bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/woff/IRANSansX-regular.woff') format('woff'),   
	url('/assets/fonts/woff2/IRANSansX-regular.woff2') format('woff2');	
}


