@font-face {
  font-family: 'digikalaFontIcons';
  src:  url('/assets/fonts/eot/digikalaFontIcons.eot?hai0bs');
  src:  url('/assets/fonts/eot/digikalaFontIcons.eot?hai0bs#iefix') format('embedded-opentype'),
    url('/assets/fonts/ttf/digikalaFontIcons.ttf?hai0bs') format('truetype'),
    url('/assets/fonts/woff/digikalaFontIcons.woff?hai0bs') format('woff'),
    url('/assets/fonts/svg/digikalaFontIcons.svg?hai0bs#digikalaFontIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'digikalaFontIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e900";
}
.icon-shopping-cart:before {
  content: "\e901";
}
.icon-shopping-basket:before {
  content: "\e902";
}
.icon-shopping-cart-1:before {
  content: "\e903";
}
.icon-heart-fill:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-contacts:before {
  content: "\e90a";
}
.icon-date:before {
  content: "\e90b";
}
.icon-down:before {
  content: "\e90c";
}
.icon-download:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-emoji:before {
  content: "\e90f";
}
.icon-inbox:before {
  content: "\e910";
}
.icon-info:before {
  content: "\e911";
}
.icon-left:before {
  content: "\e912";
}
.icon-link:before {
  content: "\e914";
}
.icon-notification:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-position-left:before {
  content: "\e918";
}
.icon-position-right:before {
  content: "\e919";
}
.icon-right:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-setting:before {
  content: "\e91f";
}
.icon-star:before {
  content: "\e921";
}
.icon-time:before {
  content: "\e922";
}
.icon-timer:before {
  content: "\e923";
}
.icon-topic:before {
  content: "\e924";
}
.icon-trash:before {
  content: "\e925";
}
.icon-up:before {
  content: "\e926";
}
.icon-star-fill:before {
  content: "\e92c";
}
.icon-reload:before {
  content: "\e932";
}
.icon-support:before {
  content: "\e933";
}
.icon-external:before {
  content: "\e934";
}
.icon-box:before {
  content: "\e937";
}
.icon-chat:before {
  content: "\e938";
}
.icon-timer1:before {
  content: "\e93a";
}
.icon-info-fill:before {
  content: "\e93b";
}
.icon-lamp:before {
  content: "\e93c";
}
.icon-resend:before {
  content: "\e93f";
}
.icon-failed:before {
  content: "\e940";
}
.icon-success:before {
  content: "\e941";
}
.icon-star2:before {
  content: "\e942";
}
